<div class="main">
  <div class="container">
    <div class="title">
      <div class="row">
        <img src="<%= asset_path "icon.png" %>" width="200px" height="auto" />
        <h1>Hospi Search</h1>
        <p>パッと予約で、サッと診察！</p>
      </div>
    </div>


  <div class="content3">
  <div class="form_sign_up">
<h2>新規登録（医療機関）</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <table class="form_table" style="table-layout: auto;">
  <div class="field">
    <tr class="form_tr">
    <td class="form_td"><%= f.label :name, "病院名" %></td>
    <td class="form_td"><%= f.text_field :name %></td>
  </tr>
  </div>

  <div class="field">
    <tr class="form_tr">
    <td class="form_td"><%= f.label :email, "Eメールアドレス" %></td>
    <td class="form_td"><%= f.email_field :email, autofocus: true %></td>
  </tr>
  </div>

  <div class="field">
    <tr class="form_tr">
    <td class="form_td"><%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %></td>
    <td class="form_td">
    <%= f.password_field :password, autocomplete: "off" %></td>
  </tr>
  </div>

  <div class="field">
    <tr class="form_tr">
    <td class="form_td"><%= f.label :password_confirmation, "パスワードを確認" %></td>
    <td class="form_td"><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
    </tr>
  </div>

</table>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= render "hospitals/shared/links" %>

  </div>
</div>
</div>
</div>
