<div class="main">
  <div class="container">
    <div class="title">
      <div class="row">
        <img src="<%= asset_path "icon.png" %>" width="200px" height="auto" />
        <h1>Hospi Search</h1>
        <p>パッと予約で、サッと診察！</p>
      </div>
    </div>
    <div class="row">
      <div class="content col-sm-8">
        <h2>Hospi Searchってなあに？</h2>
        <img src="<%= asset_path "example1.png" %>" width="150px" height="auto" />
        <img src="<%= asset_path "example2.png" %>" width="150px" height="auto" /> →
        <img src="<%= asset_path "example3.png" %>" width="400px" height="auto" /><br />
        <div class="sell_points">
          <ol>
            <li>どこでも病院を予約可能！</li>
            <li>だれでも使いやすい！</li>
            <li>近くの病院の空き状況が一目でわかる！</li>
          </ol>
          <%= link_to "病院を探してみる", search_hospitals_path, :class => 'btn btn-info' %>
        </div>
      </div>
      <div class="login col-sm-4">
        <div class="well well-lg">
          <h2>ログインする</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email, 'メールアドレス' %>
                <br />
                <%= f.email_field :email, autofocus: true %>
            </div>
            <div class="field">
              <%= f.label :password, 'パスワード' %>
                <br />
                <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <% if false %>
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                </div>
                <% end -%>
                  <% end %>
                    <div class="actions">
                      <%= f.submit "ログインする" %>
                    </div>
                    <% end %>
                      <% if alert %>
                        <p class="alert alert-error">
                          <%= alert %>
                        </p>
                        <% end %>
                          <%= render "patients/shared/links" %>
                            <%= link_to "医療関係者はこちら", new_hospital_session_path %>
        </div>
      </div>
    </div>
  </div>
</div>
