
<h2>パスワードを再設定</h2>
<h4>入力されたメールアドレスにパスワード再設定メールを送信します。</h4>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "メールアドレスを入力してください" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "メールを送信" %>
  </div>
<% end %>

<%= render "patients/shared/links" %>
