<h1>病院を検索</h1><br>
地域を入力してください<br>
都道府県
<%= form_tag(open_list_path, method: :get) %>
<div><%= text_field_tag :prefecture, "" %></div>
市区町村
<div><%= text_field_tag :city, "" %></div>


診療科を選択してください<br>
<%= select_tag :department, options_for_select([["内科","naika"],["外科","geka"]]) %>
<br>

<%= submit_tag "病院を探す" %>