<h2>レビューを投稿</h2>


<h3>病院名： <%= @hospital.name %></h3>

<%= form_tag create_review_path do %>
  <div>
    <%= label_tag :name, 'ニックネーム' %>：
    <%= text_field_tag :name, '' %>
  </div>
  <div>
    <%= label_tag :comment, 'コメント' %>：
    <%= text_area_tag :comment, '' %>
  </div>

  <%= hidden_field_tag :hospital_id, @hospital.id  %>
  <%= submit_tag '投稿する' %>
<% end %>
