<div class="main">
  <div class="container">
    <div class="row">
      <h1>病院の情報</h1>

      <div class="lists_main">
        <table style="width: 100%;">
          <tr class="list1">
            <td>
              <div class="hospital_img">
                <img src="<%= asset_path "hospitalA.png" %>" width="256px" height="auto" />
              </div>
            </td>
            <td>
              <table>
                <tr>
                  <td>病院名：</td>
                  <td class="hospital_name"><%= @hospital.name %></td>
                </tr>
                <tr>
                  <td>所在地：</td>
                  <td class="hospital_address"><%= @hospital.location.prefecture %><%= @hospital.location.city %></td>
                </tr>
                <tr>
                  <td>メールアドレス：</td>
                  <td><%= @hospital.email %></td>
                </tr>
                <td>診療科：</td>
                <td>
                  <% @hospital.departments.each do |department| %>
                    <%= department.name %>
                  <% end %>
                </td>
              </tr>
              </table>
            </td>
          </tr>

          <tr class="interval">
            <td colspan="2">　</td>
          </tr>
      </table>
    </div>

      <div class="content">
        <h2>この病院で診察を受けた人のレビュー</h2>
        <p style="margin-left: 20px;"><%= link_to 'レビューを書く', new_review_path(hospital_id: @hospital.id), class: 'btn btn-default btn-lg' %><p>
        <table class="table">
          <thead>
            <tr>
              <th class="reviewer">投稿者</th>
              <th>レビュー</th>
            </tr>
          </thead>
          <% @reviews.each do |review| %>
            <tr>
              <th class="reviewer"><%= review.name %></th>
              <th><%= review.comment %></th>
            </tr>
          <% end %>
        </table>

        <tr class="interval">
          <td colspan="2">　</td>
        </tr>

      </div>
      <%= link_to '戻る', :back, class: 'btn btn-default' %>
    </div>
  </div>
</div>
