<div class="review_main">
  <div class="container">
    <h1>病院の情報</h1>
    <table style="width: 100%;">

        <tr class="list">
          <td>
            <div class="hospital_img">
              <img src="<%= asset_path "hospitalA.png" %>" width="256px" height="auto" />
            </div>
          </td>
          <td>
            <table>
              <tr>
                <td>病院名：</td>
                <td class="hospital_name"><%= @hospital.name %></td>
              </tr>
              <tr>
                <td>所在地：</td>
                <td class="hospital_address"><%= @location.prefecture %><%= @location.city %></td>
              </tr>
              <tr>
                <td>メールアドレス：</td>
                <td class="hospital_mail"><%= @hospital.email %></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="interval">
          <td colspan="2">　</td>
        </tr>

    </table>

      <div class="content">
        <h2>病院の評判</h2>
        <table class="table">
          <thead>
            <tr>
              <th class="reviewer">投稿者</th>
              <th>レビュー</th>
            </tr>
          </thead>
          <% @reviews.each do |review| %>
            <tr>
              <th class="reviewer"><%= review.name %></th>
              <th><%= review.comment %></th>
            </tr>
          <% end %>
        </table>
      </div>
  </div>
</div>
